*.iml
WiimotePlugin/.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
WiimotePlugin/.DS_Store
/build
/captures
UnityApp/*
!UnityApp/Assets/
!UnityApp/Assets/**
!UnityApp/ProjectSettings/
!UnityApp/ProjectSettings/**
!*.md
*.log
!*.pdf
