*.iml
WiimotePlugin/.gradle
WiimotePlugin/local.properties
WiimotePlugin/.idea/workspace.xml
WiimotePlugin/.idea/libraries
WiimotePlugin/.DS_Store
WiimotePlugin/build
WiimotePlugin/captures
UnityApp/*
!UnityApp/Assets/
!UnityApp/Assets/**
!UnityApp/ProjectSettings/
!UnityApp/ProjectSettings/**
!*.md
*.log
!*.pdf
